@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .centered {
        @apply text-center mx-auto
    }
    .header1 {
        @apply text-4xl sm:text-5xl
    }
    .header2 {
        @apply text-2xl sm:text-4xl sm:my-8
    }
    .image-container {
        @apply w-64 h-28 relative
    }
    .info-container {
        @apply flex flex-row items-center my-4 ml-4
    }
    .bullet-point {
        @apply sm:text-2xl
    }
}

.use-space {
    min-height: 66vh;
}

.text-border {
    @apply p-3 sm:p-4 rounded-full border-2
}

.round-border {
    @apply border-white rounded-3xl p-4 m-6 mx-auto border-2
}

.hover-bg {
    background-color: #2e4de7;
}

.light-bg {
    background-color: #e2e3ef;
}

.dark-text {
    color: #464852;
}

.dark-element > p {
    /* background-color: #1b0b1d; */
    background-color: #e2e3ef;
    color: #464852;
}

.round-border-light {
    border-color: #e2e3ef;
    border-width: 1.5rem;
    @apply rounded-3xl m-1
}
.round-border-light:hover {
    border-color: #b6b6c2;
}

.project-container {
    @apply flex flex-row round-border-light dark-text items-center
}
.project-container:hover {
    background-color: #b6b6c2;
}

.round-border-light-thin {
    border-width: 1rem;
    @apply rounded-3xl m-1
}
.round-border-light-thin:hover {
    border-color: #b6b6c2;
}

.button-container2 {
    @apply flex flex-row round-border-light-thin dark-text items-center
}
.button-container2:hover {
    background-color: #b6b6c2;
}

.responsive-col {
    @media (min-width: 300px) {
        width: 20rem;
    }
    @media (min-width: 640px) {
        width: 22rem;
    }
    @media (min-width: 700px) {
        width: 30rem;
    }
    @media (min-width: 768px) {
        width: 36rem;
    }
    @media (min-width: 1024px) {
        width: 40rem;
    }
    @media (min-width: 1280px) {
        width: 46rem;
    }
    @media (min-width: 1536px) {
        width: 52rem;
    }
}

.progress {
    @apply rounded-2xl
}

.progress-container {
    height: 2rem;
    background-color: #add8c9;
}

.progress-inner {
    height: 2rem;
    background-color: #00E396;
    margin-right: auto;
}

.button-container {
    min-width: 4rem;
    @apply mx-auto
}

.input-container {
    @apply min-w-full justify-center flex flex-row
}

.all-projects-container {
    min-width: 16rem;

    @media (min-width: 768px) {
        min-width: 28rem;
    }
    @media (min-width: 1024px) {
        min-width: 32rem;
    }
    @media (min-width: 1280px) {
        min-width: 36rem;
    }
    @media (min-width: 1536px) {
        min-width: 40rem;
    }
}

.bar-chart-container {
    height: 20rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    @media (min-width: 1024px) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    @media (min-width: 1280px) {
        height: 24rem;
        width: 26rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    @media (min-width: 1536px) {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

body {
    background-color: #0F172A;
}

main {
    max-width: 100%;
    overflow-x: hidden;
}

p, li {
    color: white;
}

li {
    list-style: circle;
}

.image {
    width: 100%;
    height: unset;
    position: relative;
}
